body {
    background-image: url(../img/double-bubble-outline.png);
    color: rgb(204, 204, 204);
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, .p1 {
    color: rgb(32, 87, 32);
    text-align: center;
}
h2,h3,
.paragraph {
    color: rgb(32, 87, 32);
}
.container {
    text-align: center;
    color: rgb(14, 13, 13);
}
li.page {
    border: 5px solid greenyellow;
    margin: 20px;
    list-style: none;
    display: inline-flex;    
}

p {
    color: black;
    font-size: 24px;
    font-style: italic;
}
img.center {
    display: block;
    margin:0 auto;
}
.ingredients {
    color: rgb(230, 19, 19);
}
.cooking {
    color: black;
}
